# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/
*.code-workspace

# Images and Results
*.jpg
*.png
*.jpeg
cat_10fig/result_img/
cat_10fig/result_csv/

# CSV or output files
*.csv

# Environments
.env
.venv
env/
venv/
